<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta charset="utf-8">
<title>{{title}}</title>
<meta name="description"     content="{{description}}">
<meta name="keywords"        content="{{keywords}}">
<meta name="viewport"        content="width=device-width, initial-scale=1">

<meta itemprop="name"        content="{{title}}">
<meta itemprop="description" content="{{description}}">
<meta itemprop="image"       content="{{image}}">
<link rel="apple-touch-icon" href="icon.png">
